*{
    margin: 0;
    font-family: poppins;
}
/* Header Section Style */
.banner{
    background-image:linear-gradient(to bottom, rgba(186, 186, 186, 0), rgb(0, 0, 0)), url('images/donation1.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    text-align: center;
}
.Header-title{
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    padding-top: 200px !important;
    padding: 0 250px;
    
}
.header-description{
    color:#fff;
    padding: 20px 400px;
    font-size: 18;

}
.Donate{
    color: #fff;
    background-color: #ff0040;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 100px;
}

/* Donation Section Style */
.donation-money{
    text-align: center;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    padding-top: 100px;
    text-align: center;
}
.section-Description{
    text-align: center;
    font-size: 18px;
    color: #5c5b5b;
    padding: 15px 350px;
}
.box-items:hover {
    border: 1px solid #FF0040;
    color:  #FF0040;
}
.box-details{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px 450px;
}
.box-items{
    color:#5c5b5b;
    font-size: 30px;
    font-weight: 600;
    background-color: #dcdcdc46;
    padding: 40px;
    border-radius: 5px;
}

.input-amount{
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #5c5b5b3f;
    padding: 10px 200px;
    text-align: center;
}

/* Plan Section Style */

.plan-section{
    text-align: center; 

}

.plan-container{
    display: flex;
    gap: 24px;
   text-align: left !important;
   padding: 10px 100px;
}
.item-title{
    font-size: 25px;
    padding-top: 20px;
}
.item-description{
    font-size: 15px;
    color: #5c5b5b ;
    padding-top: 15px;
    padding-right: 25px;
}
.plan-element1{
    background-color: #007bff11;
    margin: 15px 8px;
    padding: 40px;
    border-radius: 5px;

}
.plan-element2{
    background-color: #ff00ae11;
    margin: 15px 8px;
    padding: 40px;
    border-radius: 5px;

}
.plan-element3{
    background-color: #ff7b002f;
    margin: 15px 8px;
    padding: 40px;
    border-radius: 5px;

}

/* Right Side Image Section */
.image-section{
    display: flex;
    padding: 100px 150px;
}
.right-side-image-container{
    padding-right: 60px;
}
.right-side-image-title{
    font-size: 50px;
    font-weight: 700;
}
.right-side-image img{
    width: 450px;
    height: 480px;
    border-radius: 5px;
}
.right-image-description{
    font-size: 18px;
    column-rule-color:#5c5b5b;

}

/* Left Side image Style */
.left-side-image-container{
    padding-left: 60px;
}
.left-image-description{
    font-size: 18px;
    column-rule-color:#5c5b5b;

}
.left-side-image-title{
    font-size: 50px;
    font-weight: 700;
}
.left-side-image img{
    width: 450px;
    height: 480px;
    border-radius: 5px;
}

/* Newsletter style */
.newsletter{
    background-color: #ff910034;
    text-align: center;
    margin: 100px 200px;
    padding: 100px;
    border-radius: 5px;
}
.Emails{
    padding: 15px;
    border: 0;
    font-size: 18px;
    background-color: #0000ff1f;
    border-radius: 5px 0 0 5px;
    margin-inline-end: -10px;
}
.Subscribe{
    padding: 15px 35px;
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color:#ff0040;
    color: #fff;
    font-size: 18px;
}

/* Footer Section Style */
.footer{
    background-color: #000023;
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-title{
    color: rgb(255, 0, 170);
    font-size: 30px;
}

.footer-sub{
    color: white;
    font-size: 12px;
    
}
